.blog-post {
    display: block;
    text-align: center;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5em;
    margin-bottom: 2.5%;
    padding: 2em;
    font-family: Montserrat, sans-serif, Arial;
    text-align: justify;
    background-color: whitesmoke;
    color: rgb(58, 58, 55);
    min-height: 100vh;
}

.blog-post-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 1em;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s;
    width: 90%;
}

.blog-post-body {
    font-size: 1.5em;
    overflow: hidden;
    margin: auto;
    text-decoration: none;
    transition: 0.3s;
    width: 90%;
}
